* {
    margin: 0;
    padding: 0;
    break-inside: avoid;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,cantarell,helvetica neue,ubuntu,sans-serif;
    font-family: 'Varela Round', sans-serif;
}

.con {
    width: 1210px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    columns: 3;
    margin-top: 15px;
}

.box {
    margin: 0 2px 19px;
    overflow: hidden;
}

video,img {
    width: 100%;
    z-index: -2;
    cursor: pointer;
}

.bac img {
    width: 100%;
}

h2 {
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 640;
    margin: 30px 0 0 28px;
}

.ply{
    width: 60px;
    margin: -380px 165px;
    opacity: 0;
    transform: scale(0.9);
}

.box:hover .ico {
    opacity: 1;
}

.ico {
    position: absolute;
    transition: 0.2s ease;
    z-index: 10;
}

::selection {
    background: #0064f95b;
}

h2::selection {
    background: #f1c40f69;
}

.pol {
    margin-top: -43px;
    margin-left: 47px;
    color: white; 
    opacity: 0;
}

.fil {
    text-align: center;
}

.fil a {
    font-size: 18px;
    padding-left: 15px;
    color: #3a3a3a;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

.fil a:hover {
    color: #0064f9;
}

.sel {
    width: 60px;
    height: 5px;
    background: #0064f9;
    position: absolute;
    margin-top: 10px;
    margin-left: 404px;
    border-radius: 3px 3px 0 0;
    display: none;
}

.log {
    display: none;
}

.log img {
    filter: brightness(0.8);
    overflow: hidden;
}

.log input {
    position: absolute;
}

.pup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: none;
}

.pup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    height: 800px;
    width: 1100px;
    padding: 7px;
    border-radius: 5px;
}

.pup-box .can {
    position: absolute;
    padding: 400px;
    filter: brightness(0);
    z-index: 999;
    width: 10px;

}

.pup-box .rle {
    width:450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.pup-box .dow {
    display: none;
}

.hea {
    display: flex;
    direction: rtl;

}

.hea .joi {
    font-size: 18px;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
    color: #5e5e5e;
    text-decoration: none;
    background: #e8e8e8;
}

.hea a {
    display: flex;
}

.hea li {
    display: flex;
    margin: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}



.log-pop {
    position: fixed;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

}

.log-inn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    padding: 10px 15px;
    width: 340px;
    height: 535px;
    border-radius: 8px;
}

.log-inn a{
    display: block;
    text-align: center;
    margin-top: 25px;
    border-radius: 5px;
    padding: 15px 0px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.log-inn .fac {
    background: #4267b2;
}

.log-inn .twi {
    background: #1da1f2;
}

.log-inn h4 {
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    font-weight: 700;

}

.log-inn .log {
    background: #4267b2;
}

.log-inn input {
    display: flex;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    padding: 12px 0;
    font-size: 18px;
    background: #e8e8e8;
    border: none;
    color: #5e5e5e;
    outline: none;
    width: 100%;
    font-weight: 800px;
    font-weight: 700;
}

.log-inn h5 {
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    color: #1a1a1a;
    font-weight: 600;
}

.log-inn .forr {
    margin-top: 10px;
    color: #3a3a3a;
}

.staa {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -555;
}

[data-change-color="Dark"] .fil a:hover {
    color: #2ecc71;
}

[data-change-color="Dark"] .fil a {
    color: white;
}

[data-change-color="Dark"] {
    background: #1a1a1a;
}

[data-change-color="Dark"] .hea .joi {
    background: #3a3a3a;
    color: white;
}

[data-change-color="Dark"] .hea li svg{
    filter: brightness(5);
}

@media (max-width: 1200px) {
    .con {
        width: calc(100% - 25px);
    }
}

@media (max-width: 980px) {
    .con {
        columns: 2;
    }

    h2 {
        font-size: 18px;
        margin-left: 15px;
    }
}

@media (max-width: 650px) {
    .con {
        columns: 1;
    }
    
    h2 {
        font-size: 18px;
        margin-left: 13px;
        margin-top: 10px;
    }

    .box {
        margin: 0 0 15px;
    }

    h2 {
        font-size: 18px;
        margin-left: 13px;
    }

    .box::before {
        opacity: 1;
        width: 340px;
        height: 60px;
        display: none;
    }

    .fil {
        overflow: auto;
        white-space: nowrap;
        display: flex;
        width: 100%;
        margin-top: 20px;
    }

    .fil a {
        font-size: 18px;
        padding-right: 11px;
        padding-bottom: 20px;

    }

    .ply {
        display: none;  
    }

    .pup {
        background: white;
    }

    .pup-box {
        width: 100%;
        padding: 7px;
        background: transparent;
    }

    .pup-box img {
        width: 100%;
        border-radius: 0;
    }

    .pup-box .dow {
        background: #2ecc71;
        padding: 10px 8px;
        font-size: 20px;
        border-radius: 4px;
        border: none;
        outline: none;
        text-decoration: none;
        margin: 4px 8px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 750px;
        color: white;
    }

    .pup-box .can {
        position: absolute;
        width: 50px;
        top: -85px;
        filter: brightness(0);
        left: 10px;
        z-index: 999;
    }

    .hea .joi {
        display: none;
    }
}